<!DOCTYPE html>
<html  ng-app="SparketWeb">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="noindex">
        <meta name="googlebot" content="noindex">
        <meta name="Description" content="خرید آسان از نزدیکترین سوپر مارکت به شما">
        <meta name="Keywords" content="hypernet,online supermarket,online super,online grocery,ایپرنت,خرید آنلاین سوپر مارکت,سوپرمارکت آنلاین ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ضمنتو | <%=title||''%></title>

        
        <%-stylesheets%>

        <script> </script>

        <%-blocks.headScripts%>
    </head>

    <!-- Body -->
    <%-body%>

</html>
