<% layout('base-layout'); -%>


<body class="landing-page" >
    <!-- wrapper -->
    <div class="wrapper">

        <!-- Nav -->


        <!-- Page Content -->
        <%-body %>


        <!-- FOOTER -->

    </div>
</body>
